.main{
 background-color: aliceblue;
}

.mainBtn{
 padding: 10px 15px 10px 15px;
 top: 80%;
 left: 45%;
}

.margin{
 margin-top: 20px;
 margin-left: 30px;
 margin-right: 30px;
}


.bestSellers{
 width: 100vw;
 margin-top: 20px;
 margin-left: 8vw;
}

.sellersTitle{
 color: black;
 width: 80%;
 text-align: center;
}

.content{
 display: flex;
 justify-content: center;
 align-items: stretch;
}

mat-card{
 text-align: center;
}
mat-card-title{
 text-align: center;
}

.carTitle{
 height: 8vh; 
 object-fit: contain;
}

.cover{
 height: 30vh; 
 object-fit: contain;
}

.cardContent{
 height: 15vh; 
 object-fit: contain;
}